body{
    background-color: aqua;
    justify-content: center;
    text-align: center;
}
.container{
    border: 2px solid;
    width: fit-content;
    height: 520px;
    background-color: white;
 
}
